Repository lordcodes/cloak-swift, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, build, documentation, tests

.github/labeler.yml:

# Root of repo changes
repo:
  - ./*

build:
  - Package.swift
  - Package.resolved
  - Makefile
  - .swiftpm/**/*

documentation:
  - CONTRIBUTING.md
  - README.md

tests:
  - Tests/**/*

Save key to keychain
  .swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  Sources/CloakCLI/CreateKeyCommand.swift
  Sources/CloakCLI/MainCommand.swift
  Sources/CloakCLI/SaveKeyCommand.swift
  Sources/CloakCLI/VersionCommand.swift
  Sources/CloakKit/Encryption/EncryptionService.swift
  Sources/CloakKit/Error/CloakError.swift
  Sources/CloakKit/Keychain/KeychainAccessor.swift
  Sources/CloakKit/Keychain/KeychainConstants.swift
Labels: build

Read service from environment variable
  Sources/CloakCLI/CreateKeyCommand.swift
  Sources/CloakCLI/MainCommand.swift
  Sources/CloakCLI/SaveKeyCommand.swift
  Sources/CloakKit/Encryption/EncryptionService.swift
  Sources/CloakKit/Keychain/KeychainAccessor.swift
Labels: none

Encrypt and decrypt commands
  Sources/CloakCLI/DecryptCommand.swift
  Sources/CloakCLI/EncryptCommand.swift
  Sources/CloakCLI/MainCommand.swift
  Sources/CloakKit/Encryption/EncryptionService.swift
  Sources/CloakKit/Error/CloakError.swift
  Sources/CloakKit/Error/HandleError.swift
Labels: none

Handle exit code errors and add env var for encryption key
  Sources/CloakCLI/DecryptCommand.swift
  Sources/CloakCLI/EncryptCommand.swift
  Sources/CloakCLI/ExitCode.swift
  Sources/CloakCLI/MainCommand.swift
  Sources/CloakCLI/RunCommand.swift
  Sources/CloakCLI/SaveKeyCommand.swift
  Sources/CloakCLI/main.swift
  Sources/CloakKit/Encryption/EncryptionService.swift
  Sources/CloakKit/Error/ExecutionError.swift
  Sources/CloakKit/Error/ExitCode.swift
  Sources/CloakKit/Error/HandleError.swift
Labels: none

Share environment variable reading
  Sources/CloakCLI/DecryptCommand.swift
  Sources/CloakCLI/EncryptCommand.swift
  Sources/CloakCLI/Environment.swift
Labels: none

Add some tests
  Tests/CloakKitTests/Configuration/FakePrinter.swift
  Tests/CloakKitTests/Error/HandleErrorTests.swift
  Tests/CloakKitTests/Error/TestError.swift
  Tests/CloakKitTests/Version/VersionServiceTests.swift
Labels: tests

Read environment settings from config file as well
  Sources/CloakCLI/CloakConfig.swift
  Sources/CloakCLI/CreateKeyCommand.swift
  Sources/CloakCLI/DecryptCommand.swift
  Sources/CloakCLI/EncryptCommand.swift
  Sources/CloakCLI/Environment.swift
  Sources/CloakCLI/EnvironmentKey.swift
  Sources/CloakCLI/MainCommand.swift
  Sources/CloakCLI/SaveKeyCommand.swift
  Sources/CloakCLI/VersionCommand.swift
Labels: none

Reorganise files in CLI module
  Sources/CloakCLI/Commands/CreateKeyCommand.swift
  Sources/CloakCLI/Commands/DecryptCommand.swift
  Sources/CloakCLI/Commands/EncryptCommand.swift
  Sources/CloakCLI/Commands/MainCommand.swift
  Sources/CloakCLI/Commands/SaveKeyCommand.swift
  Sources/CloakCLI/Commands/VersionCommand.swift
  Sources/CloakCLI/Config/CloakConfig.swift
  Sources/CloakCLI/Config/EnvironmentKey.swift
Labels: none

WIP secrets command
  Sources/CloakCLI/Commands/SecretsCommand.swift
  Sources/CloakCLI/Config/CloakConfig.swift
  Sources/CloakCLI/Config/EnvironmentKey.swift
  Sources/CloakKit/Secrets/SecretKey.swift
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

WIP generate swift file containing secrets
  .gitignore
  Sources/CloakCLI/Commands/MainCommand.swift
  Sources/CloakCLI/Commands/SecretsCommand.swift
  Sources/CloakCLI/Config/CloakConfig.swift
  Sources/CloakCLI/Config/EnvironmentKey.swift
Labels: repo

Re-work DI and accessing config, service throughout codebase
  Sources/CloakCLI/Commands/CreateKeyCommand.swift
  Sources/CloakCLI/Commands/DecryptCommand.swift
  Sources/CloakCLI/Commands/EncryptCommand.swift
  Sources/CloakCLI/Commands/MainCommand.swift
  Sources/CloakCLI/Commands/SaveKeyCommand.swift
  Sources/CloakCLI/Commands/SecretsCommand.swift
  Sources/CloakCLI/Commands/VersionCommand.swift
  Sources/CloakCLI/Config/CloakConfig.swift
  Sources/CloakCLI/main.swift
  Sources/CloakKit/Configuration/Cloak.swift
  Sources/CloakKit/Configuration/CloakConfig.swift
  Sources/CloakKit/Configuration/Configuration.swift
  Sources/CloakKit/Configuration/EnvironmentKey.swift
  Sources/CloakKit/Encryption/EncryptionService.swift
  Sources/CloakKit/Error/CloakError.swift
  Sources/CloakKit/Error/HandleError.swift
  Sources/CloakKit/Keychain/KeychainAccessor.swift
  Sources/CloakKit/Secrets/SecretsService.swift
  Sources/CloakKit/Version/VersionService.swift
  Tests/CloakKitTests/Error/HandleErrorTests.swift
  Tests/CloakKitTests/Version/VersionServiceTests.swift
Labels: tests

Ensure missing service errors are propagated properly
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Cleanly generate secrets file with config for access modifier
  Sources/CloakKit/Configuration/Cloak.swift
  Sources/CloakKit/Configuration/CloakConfig.swift
  Sources/CloakKit/Configuration/EnvironmentKey.swift
  Sources/CloakKit/Error/CloakError.swift
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Rename access modifier to access level
  Sources/CloakKit/Configuration/Cloak.swift
  Sources/CloakKit/Configuration/CloakConfig.swift
  Sources/CloakKit/Configuration/EnvironmentKey.swift
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Add TODOs for documentation and tests
  Sources/CloakKit/Configuration/Cloak.swift
  Sources/CloakKit/Configuration/CloakConfig.swift
  Sources/CloakKit/Configuration/EnvironmentKey.swift
  Sources/CloakKit/Encryption/EncryptionService.swift
  Sources/CloakKit/Keychain/KeychainAccessor.swift
  Sources/CloakKit/Secrets/SecretKey.swift
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Disable secrets command when ran via Tuist
  Sources/CloakCLI/Commands/SecretsCommand.swift
Labels: none

Missing missing secrets instead of interactive input when ran from tuist
  Sources/CloakCLI/Commands/SecretsCommand.swift
  Sources/CloakKit/Error/CloakError.swift
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Save secret command
  Sources/CloakCLI/Commands/MainCommand.swift
  Sources/CloakCLI/Commands/SaveSecretCommand.swift
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Delete secret command
  Sources/CloakCLI/Commands/DeleteKeyCommand.swift
  Sources/CloakCLI/Commands/MainCommand.swift
  Sources/CloakKit/Keychain/KeychainAccessor.swift
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Code documentation
  Sources/CloakKit/Configuration/Cloak.swift
  Sources/CloakKit/Configuration/CloakConfig.swift
  Sources/CloakKit/Encryption/EncryptionService.swift
  Sources/CloakKit/Secrets/SecretKey.swift
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Fix parsing secrets from bulk file that contain '='
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Obfuscate secrets
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Move loading config to a separate loader to make Cloak.swift more readable
  Sources/CloakKit/Configuration/Cloak.swift
  Sources/CloakKit/Configuration/ConfigLoader.swift
Labels: none

Move config files to shared folder to keep users projects cleaner
  .gitignore
  Sources/CloakKit/Configuration/ConfigLoader.swift
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: repo

Fix build error
  Sources/CloakKit/Configuration/ConfigLoader.swift
Labels: none

Connect up save bulk secrets command
  Sources/CloakCLI/Commands/MainCommand.swift
Labels: none

secrets command -> generate command
  Sources/CloakCLI/Commands/GenerateCommand.swift
  Sources/CloakCLI/Commands/MainCommand.swift
Labels: none

Command to save secrets in bulk from a file
  Sources/CloakCLI/Commands/SaveBulkSecretsCommand.swift
  Sources/CloakKit/Secrets/SecretsService.swift
Labels: none

Remove usage of keychain
  Sources/CloakCLI/Commands/CreateKeyCommand.swift
  Sources/CloakCLI/Commands/DecryptCommand.swift
  Sources/CloakCLI/Commands/DeleteKeyCommand.swift
  Sources/CloakCLI/Commands/EncryptCommand.swift
  Sources/CloakCLI/Commands/GenerateCommand.swift
  Sources/CloakCLI/Commands/MainCommand.swift
  Sources/CloakCLI/Commands/SaveBulkSecretsCommand.swift
  Sources/CloakCLI/Commands/SaveKeyCommand.swift
  Sources/CloakCLI/Commands/SaveSecretCommand.swift
  Sources/CloakCLI/Commands/VersionCommand.swift
  Sources/CloakKit/Configuration/Cloak.swift
  Sources/CloakKit/Configuration/CloakConfig.swift
  Sources/CloakKit/Configuration/ConfigLoader.swift
  Sources/CloakKit/Configuration/EnvironmentKey.swift
  Sources/CloakKit/Encryption/EncryptionService.swift
  Sources/CloakKit/Error/CloakError.swift
  Sources/CloakKit/Error/HandleError.swift
  Sources/CloakKit/Keychain/KeychainAccessor.swift
  Sources/CloakKit/Keychain/KeychainConstants.swift
  Sources/CloakKit/Secrets/SecretKey.swift
  Sources/CloakKit/Secrets/SecretsService.swift
  Tests/CloakKitTests/Error/HandleErrorTests.swift
  Tests/CloakKitTests/Error/TestError.swift
Labels: tests

Add logo and updated README
  Art/logo.png
  Art/social.png
  Design/logo.xcf
  README.md
Labels: repo, documentation

Add example cloak configuration files
  .cloak/config
  .cloak/secret-keys
  .gitignore
Labels: repo

Fix path to secrets file so that it is checked inside current directory
  .cloak/secret-keys
  .gitignore
  Sources/CloakKit/Configuration/ConfigLoader.swift
  Sources/CloakKit/Encryption/EncryptionService.swift
  Sources/CloakKit/Error/CloakError.swift
Labels: repo

Fix help output for encrypt/decrypt
  Sources/CloakCLI/Commands/DecryptCommand.swift
  Sources/CloakCLI/Commands/EncryptCommand.swift
Labels: none

Mention that .cloak directory is relate to working directory when running commands
  README.md
  Sources/CloakKit/Configuration/EnvironmentKey.swift
Labels: repo, documentation

Add features to Readme
  README.md
Labels: repo, documentation
